/* General styling for the container */
.container {
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Card styles */
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  /* Image styles
  .card-img-left {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  } */
  
  /* Video styles */
  .card video {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  /* Text and title styles */
  .card-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
  }
  
  /* Button styles */
  .btn {
    background-color: #00d4ff;
    border-color: #00d4ff;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #0099cc;
    border-color: #0099cc;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
      text-align: left;
      padding: auto;
      margin: auto;
    }
  
    .card-img-left {
      margin: 0 auto 20px auto;
      width: 90%; 
      height: auto; 
    }
  
    .card-title {
      font-size: 1.4rem;
    }
  
    .card-text {
      font-size: 1rem;
      text-align: left;
    }
  
    .btn {
      font-size: 1rem;
      padding: 10px 15px;
    }
  }
  